In [20]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [21]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [25]:
df = pd.read_csv('taxi_zone_lookup.csv', low_memory=False)

In [26]:
len(df)

265

In [11]:
print(pd.io.sql.get_schema(df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [13]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000, low_memory=False)

In [14]:
while True:
    t_start = time()
    df = next(df_iter, pd.DataFrame())
    if len(df) > 0:
        df.to_sql(name='zones', con=engine, if_exists='append')
        t_end = time()
        print('Inserted another chunk of data..., took %.3f second' % (t_end - t_start))
    else:
        break

print('Inserting finished.')

Inserted another chunk of data..., took 0.072 second
Inserting finished.